!!! 5
%html
  %head
    %title
      = full_title(yield(:title))
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    / [if lt IE 9]
      %script(type="text/javascript"
      		  src="http://html5shim.googlecode.com/svn/trunk/html5.js")
  %body
    %header.navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          = link_to 'Sample App', root_url, id: "logo"
          %nav
            %ul.nav.pull-right
              %li= link_to 'Home', static_pages_home_path
              %li= link_to 'Help', static_pages_help_path
              %li= link_to 'Sign in', '#'
    .container
      = yield